html, body {
	height: auto;
	width: auto 1000px;
	margin: auto;
	background-color: #00A3D9;
	font-family: Verdana;
}

@-ms-viewport{
  width: device-width;
}

#header {
	color: #7373FF;
	font-size: 25px;
	text-align: center;
	background-color: #00BFFF;
	text-shadow: 1px 1px #000000;
	font-style: italic;
	position: relative;
}

#header-small-text {
	font-size: 10px;
	color: white;
}

#menu {
	background-color: #0086B3;
	margin: left;
	float: left;
	width: 150px;
	text-align: center;
	height: auto 100px;
	font-size: 13px;
	text-shadow: 1px 1px #000;
}

#textbox {
	background-color: #26C9FF;
	height: auto;
	width: auto;
	float: center-right;
	color: #FFFFFF;
	text-shadow: 1px 1px #000000;
}

#footer {
	background-color: #006CD9;
	color: white;
	font-size: 10px;
}

.menu-text {
	font-size: 16px;
	color: #FFEFBF;
	text-shadow: 1px 1px #000;
}

.dotted {border: 1px dotted #ff0000; border-style: none none dotted; color: #fff; background-color: #fff; }

a  { text-decoration: none; color: white; }
a:hover { color: #D9D900; text-shadow: 0px 0px 2px #FFFF4C; text-decoration: none; }
